n8n/workflow.json
{
  "name": "AnyClick v2 — Thin Orchestrator Example",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/browser/session/start",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "taskId", "value": "={{ $execution.id }}" },
            { "name": "url", "value": "https://example.com/login" }
          ]
        },
        "options": {}
      },
      "id": "start-session",
      "name": "1. Start Session",
      "type": "n8n-nodes-base.httpRequest",
      "position": [240, 300],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/browser/form-fill",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "sessionId", "value": "={{ $('1. Start Session').first().json.sessionId }}" },
            {
              "name": "fields",
              "value": "[{\"placeholder\": \"username\", \"value\": \"admin\"}, {\"placeholder\": \"password\", \"value\": \"secret\"}]"
            }
          ]
        },
        "options": {}
      },
      "id": "fill-login",
      "name": "2. Fill Login Form",
      "type": "n8n-nodes-base.httpRequest",
      "position": [460, 300],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/browser/click",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "sessionId", "value": "={{ $('1. Start Session').first().json.sessionId }}" },
            { "name": "intent", "value": "submit_login" },
            {
              "name": "target",
              "value": "{\"text\": \"Log In\", \"role\": \"button\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "click-login",
      "name": "3. Click Login",
      "type": "n8n-nodes-base.httpRequest",
      "position": [680, 300],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/browser/wait-for-condition",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "condition", "value": "url_change" },
            { "name": "timeout", "value": 15000 }
          ]
        },
        "options": {}
      },
      "id": "wait-for-change",
      "name": "4. Wait for Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "position": [900, 300],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/browser/scrape",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "selector", "value": ".data-card" },
            {
              "name": "fields",
              "value": "[{\"name\": \"title\", \"selector\": \"h3\"}, {\"name\": \"value\", \"selector\": \".value\"}]"
            }
          ]
        },
        "options": {}
      },
      "id": "scrape-data",
      "name": "5. Scrape Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1120, 300],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/browser/session/stop",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "sessionId", "value": "={{ $('1. Start Session').first().json.sessionId }}" }
          ]
        },
        "options": {}
      },
      "id": "stop-session",
      "name": "6. Stop Session",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1340, 300],
      "typeVersion": 4.1
    }
  ],
  "connections": {
    "1. Start Session": { "main": [ [ { "node": "2. Fill Login Form", "type": "main", "index": 0 } ] ] },
    "2. Fill Login Form": { "main": [ [ { "node": "3. Click Login", "type": "main", "index": 0 } ] ] },
    "3. Click Login": { "main": [ [ { "node": "4. Wait for Dashboard", "type": "main", "index": 0 } ] ] },
    "4. Wait for Dashboard": { "main": [ [ { "node": "5. Scrape Data", "type": "main", "index": 0 } ] ] },
    "5. Scrape Data": { "main": [ [ { "node": "6. Stop Session", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" }
}
